
@font-face {
	font-family: MuseoSansRounded;
	src:url(../font/MuseoSansRounded-100.otf);
	src:url(../font/museosansrounded-100-webfont.ttf),
		url(../font/museosansrounded-100-webfont.woff),
		url(../font/museosansrounded-100-webfont.woff2);
		font-weight: 400;
		font-style: normal;
}

$first-color: #111a28;